<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>NeuralSoft</h1> - <h3>1 mes</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae ut perspiciatis perferendis aliquid! Facilis, molestiae dolor. Sit magni amet cum debitis velit quis voluptate, temporibus corrupti, excepturi aliquid nisi.</p>
    </ul>
    <ul>
      <li>
        <h1>Señalar S.R.L.</h1> - <h3>9 años</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae ut perspiciatis perferendis aliquid! Facilis, molestiae dolor. Sit magni amet cum debitis velit quis voluptate, temporibus corrupti, excepturi aliquid nisi.</p>
    </ul>
    <ul>
      <li>
        <h1>Celusal</h1> - <h3>1 año</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae ut perspiciatis perferendis aliquid! Facilis, molestiae dolor. Sit magni amet cum debitis velit quis voluptate, temporibus corrupti, excepturi aliquid nisi.</p>
    </ul>
  </div>
</div>
