<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <img src="../../../assets/Florencia Said_25x25.png" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">Florencia Paola Said</p>
  <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1>Acerca de Mi</h1>
    <p>Estudiante avanzada en Licenciatura en Administración con grandes aspiraciones para ingresar al mundo IT</p>
  </span>
</div>
</div>
