<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Licenciatura en Administración</h1> - <h3>En curso</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae ut perspiciatis perferendis aliquid! Facilis, molestiae dolor. Sit magni amet cum debitis velit quis voluptate, temporibus corrupti, excepturi aliquid nisi.</p>
    </ul>
    <ul>
      <li>
        <h1>Diplomatura en Base de Datos</h1> - <h3>Finalizado</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae ut perspiciatis perferendis aliquid! Facilis, molestiae dolor. Sit magni amet cum debitis velit quis voluptate, temporibus corrupti, excepturi aliquid nisi.</p>
    </ul>
      </div>
</div>
